graft tributary
include LICENSE
include README.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md


include setup.cfg
include pyproject.toml
include .bumpversion.cfg
include Makefile

graft tributary/tests
exclude tributary/tests/streaming/output/test_file_data.json

# Get rid of docs, ci, and binder
prune ci
prune docs
prune binder
prune examples
exclude CATALOG.md


# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
