aiohttp>=3.5.4
aiofiles>=0.4.0
aiostream>=0.3.1
confluent-kafka==0.11.6
future>=0.17.1
gevent>=1.3.7
graphviz>=0.10.1
ipython>=7.0.1
networkx>=2.2
numpy>=1.15.3
perspective-python>=0.1.4
pygraphviz>=1.5
scipy>1.2.0
six>=1.11.0
socketIO-client-nexus>=0.7.6
sympy>=1.3
tornado>=5.1.1
ujson>=1.35
websocket-client>=0.54.0
