name: Build Status

on:
  push:
    branches:
      - main
  pull_request:
  tags:
  paths-ignore:
      - CATALOG.md
      - CONTRIBUTING.md
      - LICENSE
      - README.md

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.9]
        event-name: [push]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'setup.py'

    - name: Install dependencies
      run: |
        make develop

    - name: Lint
      run: |
        make lint

    - name: Checks
      run: |
        make checks
      if: ${{ github.event_name == matrix.event-name || matrix.os == 'ubuntu-latest' }}

    - name: Test
      run: |
        make testsci
      if: ${{ matrix.os != 'ubuntu-latest' }}

    - name: Test
      run: |
        make dockerup && make testsci && make dockerdown
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Upload test results
      uses: actions/upload-artifact@v3
      with:
        name: pytest-results-${{ matrix.os }}-${{ matrix.python-version }}
        path: python_junit.xml
      if: ${{ always() }}

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      with:
        files: python_junit.xml
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Upload coverage
      uses: codecov/codecov-action@v3

    - name: Twine check
      run: |
        make dist
